.MenuItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #ffa500d9;

    .name {
      margin-top: 5px;
      color: #fff;
      font-size: 12px;
    }
    .price {
      padding: 5px 0;
      color: #fff;
      font-size: 13px;
    }
  }
}
