.adm-index-bar {
  .adm-index-bar-sidebar {
    display: none;
  }
  .adm-index-bar-anchor-title {
    text-align: left;
    font-weight: bold;
    z-index: 10;
  }
  .adm-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .adm-list-item {
      margin: 10px 0 5px;
      padding: 0;
      width: 46%;
      border: 1px solid #4a4a4a6b;
      border-radius: 4px;
  
      .adm-list-item-content {
        padding: 5px;
        border: unset;
      }
    }
  }
}